/* Header and footer styling */
@import "layout/page";
@import "layout/footer";
@import "layout/header";



/* Page specific styling */
@import "pages/home";
@import "pages/about";
@import "pages/project";
@import "pages/landing";

/* Base styling */
@import "base/fonts";
@import "base/standards";

/* Variables */
@import "abstracts/variables";