<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Jared Suasin / About" />
		<meta name="keywords" content="Jared Suasin, visual design, interaction design, ui design, ux design, product design, front-end development, ux engineering">
		<meta property="og:title" content="{{title}}">
		<meta property="og:type" content="website">
		<meta property="og:image" content="http://jaredsuasin.com/images/portfolio-cover.png">
		<meta property="og:url" content="http://jaredsuasin.com/">
		<meta property="og:description" content="Jared Suasin / About">
			
		<title>Jared Suasin / About</title>
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
			
		<!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons//favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons//favicon-16x16.png">
        <link rel="manifest" href="/favicons//site.webmanifest">
        <link rel="mask-icon" href="/favicons//safari-pinned-tab.svg" color="#45af6e">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
	
	</head>
	<body>



		<!-- Header -->
		<div class="header-container">
			<div id="full-name" class="name-container">
				<h1><a href="/">JARED SUASIN</a></h1>
			</div>

			<div id="initials" class="name-container">
				<h1><a href="/">JS</a></h1>
			</div>

			<ul class="nav-container">
				<li id="resume" class="nav-item"><a class="notActive" href="/resume"><span>Resume</span></a></li>
				<li id="about" class="nav-item"><a class="active" href="/about"><span>About</span></a></li>
				<li id="work" class="nav-item"><a class="notActive" href="/"><span>Work</span></a></li>
			</ul>

			<!--<div class="ham-menu">
				<div class="button_container" id="toggle"><span class="top"></span><span class="middle"></span><span class="bottom"></span></div>
				<div class="overlay" id="overlay">
					<nav class="overlay-menu">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Work</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>-->
		</div>

	<div id="wide-profile-image" class="profile-image-container"></div>
    
	<div class="page-container">

		<!-- Bio -->
		<div class="profile-grid">
			
			<div id="block-profile-image" class="profile-image-container"></div>
			
			<div class="bio-container">	

				<h1>Often lost in thought.</h1>

				<h2>UX Engineering / UI Design / Visual Design</h2>

				<p>Hi there, I’m Jared! I’m a fourth year undergraduate at UC San Diego, currently studying for my degree in Cognitive Science (Human Computer Interaction) and a minor in Computer Science.</p>
			
				<p>Previously I was a User Experience Design Intern at <a href="https://www.dexcom.com/">Dexcom</a>.</p>

				<p>When I’m not designing, you can find me playing Animal Crossing, running local <a href="https://youtu.be/LLW5_5voKZc">service projects</a> around San Diego county, or grooving out with my <a href="https://youtu.be/57vWOP4m6s0">dance team</a>.</p>
			
			</div>
		</div>




		<!-- Footer -->
		<div class="footer-container">

			<div id="copyright">
				<h2>Copyright &copy 2019, Jared Suasin</h2>
			</div>

			<div class="icon-container">
				<ul>
					<li>
						<a href="/resume" title="Resume">
							<img src="images/icons/resume.png">
						</a>
					</li>
					<li>
						<a href="mailto:suasin.ja@gmail.com" title="Mail">
							<img src="images/icons/mail.png">
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/jared-suasin-982a20133" title="LinkedIn">
							<img src="images/icons/linkedin.png">
						</a>
					</li>
					<li>
						<a href="https://github.com/alphyne" title="GitHub">
							<img src="images/icons/github.png">
						</a>
					</li>
				</ul>
			</div>
		</div> <!-- footer-container -->
	</div> <!-- page-container -->

	<script src="/js/portfolio.js"></script>

	</body>
</html>
