<!DOCTYPE html>
<html>
<head>
<title>About | Jared Suasin</title>
<link href="/css/portfolio.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />

</head>
<body>

<div="pageContainer">

	<!-- Header -->
	<div class="header-container">
		<div class="nameContainer">
			<h1>JARED SUASIN.</h1>
		</div>

		<div class="tagContainer">
			<a class="tag1">Full Stack Designer</a>
			<a class="tag2">[ UX Engineering / UI Design / Visual Design ]</a>
		</div>

		<ul class="navBarContainer">
			<li><a class="notActive" href="/resume"><span>Resume</span></a></li>
			<li><a class="active" href="/about"><span>About</span></a></li>
			<li><a class="notActive" href="/"><span>Work</span></a></li>
		</ul>

	</div>

	<!-- Bio -->
		
	<div class="bio">
		<h1>
			UX Research | UI Design | Front-End Development
		</h1>

		<p id="bio1">
			My name is <span class="accent">Jared Suasin</span>. I'm a third year student at University of California San Diego, pursuing a degree in Cognitive Science: Design and Interaction with a minor in Computer Science. 
			I'm an enthusiastic designer who has a knack for <span class="accent">storytelling</span>.
		</p>
		<p id="bio2">
			<span class="accent">Human-centered design</span> motivates me to challenge my creativity and always keep an open mind.
			I believe in the idea of <span class="accent">balance</span> between everything, from functionality and aesthetics to school and family.
		</p>
		<p id="bio3">
			When I am not working, I often find myself developing my <span class="accent">artistry</span> through music, theatre and dance.
		</p>

	</div>

	<img class="profileImage" src="images/profile.png"></img>

	<!-- Footer -->
	<div class="footer"></div>
</div>

<script src="/js/portfolio.js"></script>

</body>
</html>
