<!DOCTYPE html>
<html>
<head>
<title>Jared Suasin</title>
<link href="/css/portfolio.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
</head>
<body>

<div class="pageContainer">
	
<header class="header">
  <div class="burger">
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
    <div class="burger__patty"></div>
  </div>

  <nav class="menu">
    <div class="menu__brand">
      <a href=""><div class="logo"></div></a>
    </div>
    <ul class="menu__list">
      <li class="menu__item"><a href="" class="menu__link">Work</a></li>
      <li class="menu__item"><a href="" class="menu__link">About</a></li>
      <li class="menu__item">
        <a href="https://twitter.com/ettrics" target="_blank" class="menu__link menu__link--social"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="menu__item">
        <a href="https://dribbble.com/ettrics" target="_blank" class="menu__link menu__link--social">
          <i class="fa fa-dribbble"></i></a>
      </li>
    </ul>
  </nav>
</header>




	<!-- Header -->
	<div class="headerContainer">
		<div class="nameContainer">
			<h1>JARED SUASIN.</h1>
		</div>

		<div class="tagContainer">
			<a class="tag1">Full Stack Designer</a>
			<a class="tag2">[ UX Engineering / UI Design / Visual Design ]</a>
		</div>

		<ul class="navBarContainer">
			<li class="fullNavBar"><a class="notActive" href="/resume"><span>Resume</span></a></li>
			<li class="fullNavBar"><a class="notActive" href="/about"><span>About</span></a></li>
			<li class="fullNavBar"><a class="active" href="/"><span>Work</span></a></li>
		</ul>

	</div>

	

	<!-- Grid -->
	<div class="grid">
		<div class="gridItemContainer">
			{{#each projects}}
				
				<!-- Grid items -->
				<a class="gridLink" href="/{{url}}">
					<div class="gridItem">
					
					</div>
				</a>
				
			{{/each}}	
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="footer">

	</div>
</div>
<script src="/js/portfolio.js"></script>
</body>
</html>
