<!DOCTYPE html>
<html lang="en">
	<head>
			<title>Jared Suasin</title>
			<link href="css/main.css" rel="stylesheet" type="text/css">
			<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
			<link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
	</head>
	<body>

        <div class="landing-container">

            <div class="greeting-container">
                <h2>Hello! My name is</h2>
            </div>
          
            <h1><a href="/about">JARED SUASIN.</a></h1>

            <div class="landing-description">
                <p>I’m an aspiring designer and developer who is driven by innovation, immersive experiences, and lots of earl grey tea.</p>
                <p>Previously at Dexcom.</p>
            </div>

		<!-- Link menu -->
        <div class="link-container">
            <a class="link-label">LINKS&nbsp&nbsp</a>
            <a>/&nbsp&nbsp</a>
            <a class="notActive" href="/about"><span>About</span></a>
            <a>&nbsp&nbsp/&nbsp&nbsp</a>
            <a class="notActive" href="/mailto:suasin.ja@gmail.com"><span>Email</span></a>
            <a>&nbsp&nbsp/&nbsp&nbsp</a>
            <a class="notActive" href="/resume"><span>Resume</span></a>
            <a>&nbsp&nbsp/&nbsp&nbsp</a>
            <a class="notActive" href="https://www.linkedin.com/in/jared-suasin-982a20133"><span>LinkedIn</span></a>
            <a>&nbsp&nbsp/&nbsp&nbsp</a>
            <a class="under-construction" href="/">Portfolio (under construction)</a>
        </div>

	</div>

		<!-- Footer -->
		<div class="footer"></div>

        </div>

		</div>
		<script src="/js/portfolio.js"></script>
	</body>
</html>
