/* Page specific styling */
/* Fluid Grid by patrickkunka on codepen */
.grid {
  /*background-color: #161616;*/
  width: 100%; }

.grid-item-container {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-column-gap: 1%;
  grid-row-gap: 1%; }

.grid-item-background {
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 3;
  opacity: 1; }

.grid-item-title {
  opacity: 0;
  position: relative;
  text-align: center;
  padding-top: 28vh;
  color: black;
  z-index: 5; }
  .grid-item-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    padding-bottom: 2rem; }
  .grid-item-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    line-height: 1.6; }

.grid-item {
  height: 70vh;
  margin-bottom: 1%;
  border-style: solid;
  text-align: center;
  background: #a0a0a0;
  background-position-x: center;
  background-size: cover; }

.hover {
  display: none; }

.grid-link:hover .grid-item-background {
  opacity: 0.8;
  transition-duration: 0.5s; }

.grid-link:hover .grid-item-title {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0.7s; }

.grid-link:hover .hover {
  display: block;
  opacity: 1;
  transition-duration: 0.5s; }

.grid-link:hover .no-hover {
  display: none; }

.grid-link {
  text-decoration: none; }

@media (max-width: 1600px) {
  .grid-item-title {
    padding-top: 27vh; } }

@media (max-width: 1280px) {
  .grid-item-title {
    padding-top: 26vh; } }

@media (max-width: 1024px) {
  .grid-item-title {
    padding-top: 25vh; }
  .grid-item {
    height: 50vh; } }

@media (max-width: 980px) {
  .grid-item-container {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1%;
    grid-row-gap: 0; }
  .grid-item-title {
    padding-top: 24vh; }
    .grid-item-title h2 {
      font-size: 3.2rem;
      color: #313131;
      padding-bottom: 2rem; }
    .grid-item-title h3 {
      font-size: 1.8rem;
      padding-bottom: 2rem;
      line-height: 1.6; } }

@media (max-height: 600px) {
  .grid-item-title {
    padding-top: 24vh; }
    .grid-item-title h2 {
      font-size: 3.2rem;
      color: #313131;
      padding-bottom: 1rem; }
    .grid-item-title h3 {
      font-size: 1.8rem;
      padding-bottom: 2rem;
      line-height: 1.6; } }

.profile-grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr; }

#wide-profile-image {
  display: none; }

#block-profile-image {
  display: block; }

.profile-image-container {
  width: 42rem;
  background-image: url("../images/profile-cropped-optimized.jpg");
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  min-height: 40rem; }

.bio-container {
  padding-left: 4rem;
  padding-top: 2rem; }
  .bio-container h1 {
    line-height: 2.3rem; }
  .bio-container h2 {
    color: #707070;
    margin: 2rem 0;
    line-height: 1.7rem; }
  .bio-container p {
    color: black;
    line-height: 1.8;
    margin-bottom: 2rem; }
    .bio-container p a {
      text-decoration: none;
      color: #45af6e; }
    .bio-container p a:hover {
      opacity: 0.5;
      transition-duration: 0.5s; }

@media (max-width: 1600px) {
  .bio-container {
    padding-left: 2rem; }
  .profile-image-container {
    width: 38rem; } }

@media (max-width: 1280px) {
  .profile-image-container {
    width: 30rem;
    min-height: 20rem; } }

@media (max-width: 1024px) {
  .header-container {
    margin: 0 6rem; }
  .about-container {
    margin: 0 0; }
  .profile-image-container {
    width: 100%;
    min-height: 38rem;
    background-position-y: center; }
  #wide-profile-image {
    display: block; }
  #block-profile-image {
    display: none; }
  .profile-grid {
    display: block; }
  .bio-container {
    padding: 2rem 6vw;
    font-size: 0.9rem; } }

@media (max-width: 840px) {
  .profile-image-container {
    min-height: 30rem; }
  .about-container h1 a {
    border-bottom: 0; } }

@media (max-width: 600px) {
  .bio-container {
    padding: 0 2rem; } }

.project-container .media-container {
  padding: 0 4rem; }

.project-container .quote {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  color: #000000; }

.project-container .bold {
  font-weight: 500; }

.project-container .underline {
  text-decoration: underline; }

.project-landing {
  background-color: #a0a0a0;
  width: 100%;
  height: 35rem;
  background-position-x: center;
  background-size: cover; }

.project-name {
  margin-top: 4rem;
  margin-bottom: 2rem; }
  .project-name span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #707070; }

.project-description, .text-right {
  margin-left: 30vw; }

.project-info {
  height: 100%;
  margin-top: 5rem; }
  .project-info h3 {
    margin-bottom: 0.6rem; }

.project-details {
  display: grid;
  grid-template-columns: 50% auto auto;
  grid-column-gap: 0.4vw;
  margin-top: 1rem;
  margin-bottom: 4rem; }
  .project-details .project-detail-item {
    margin-top: 3rem;
    padding-right: 1rem; }
    .project-details .project-detail-item p {
      margin-top: 0.5rem; }

.block-container {
  margin-bottom: 4rem; }
  .block-container h2, .block-container h3 {
    margin-bottom: 1.8rem; }
  .block-container img {
    width: 100%; }

.image-three-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2vw; }

.image-three {
  width: 33%; }

.image-left {
  width: 35vw; }

.section-container * {
  margin-bottom: 2rem; }

.image-text-column {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 7vw; }

@media (max-width: 1600px) {
  .project-description, .text-right {
    margin-left: 36vw; } }

@media (max-width: 1024px) {
  .project-container {
    padding: 2rem 6vw;
    font-size: 0.9rem; }
  .project-description {
    margin-left: 0; }
  .project-details {
    grid-template-columns: auto auto; }
  .text-right {
    margin-left: 0; } }

@media (max-width: 840px) {
  .image-text-column {
    display: block; } }

@media (max-width: 600px) {
  .project-container .media-container {
    padding: 0 0; }
  .project-landing {
    height: 25rem; }
  .project-details {
    display: block; } }

.landing-container {
  margin-left: 17rem;
  margin-right: 17rem; }
  .landing-container h1 {
    font-family: 'nexa_boldregular';
    /*font-weight: 600;*/
    font-size: 4.4rem;
    color: black;
    line-height: 4rem; }
    .landing-container h1 a {
      text-decoration: none;
      color: black;
      border-bottom: 2px solid #313131; }
    .landing-container h1 a:hover {
      color: #707070;
      border-bottom-color: #707070;
      transition-duration: 0.5s; }
  .landing-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #707070; }
  .landing-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #505050;
    line-height: 1.7; }

.greeting-container {
  margin-top: 13rem;
  margin-bottom: 2rem; }

.landing-description {
  margin-left: 36vw;
  margin-top: 2rem; }
  .landing-description a {
    text-decoration: none;
    color: #45af6e; }

@media (max-width: 1600px) {
  .landing-container {
    margin-right: 9rem;
    margin-left: 9rem; }
    .landing-container h1 {
      font-size: 3.6rem; }
  .landing-description {
    margin-left: 36vw; } }

@media (max-width: 1200px) {
  .landing-description {
    margin-left: 0; } }

@media (max-width: 840px) {
  .landing-container {
    margin-left: 3rem;
    margin-right: 3rem; }
    .landing-container h1 a {
      border-bottom: 0; }
  .greeting-container {
    margin-top: 9rem; } }

@media (max-width: 600px) {
  .greeting-container {
    margin-top: 6rem; } }

.link-container {
  margin: 4rem 0;
  line-height: 2rem; }
  .link-container .link-label {
    font-family: 'nexa_boldregular';
    font-size: 1.3rem;
    color: #313131; }
  .link-container a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #707070;
    font-size: 1.3rem;
    text-decoration: none; }
  .link-container .under-construction {
    text-decoration: line-through; }

/* Header and footer styling */
.footer-container {
  height: 6rem;
  margin: 3rem 0 0 0; }

#copyright {
  display: inline-block; }
  #copyright h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #707070;
    font-size: 1rem;
    margin: 0.5rem 0; }

.icon-container {
  float: right; }
  .icon-container img {
    height: 2rem; }
  .icon-container ul li a:hover > img {
    opacity: 0.5;
    transition-duration: 0.5s; }
  .icon-container li {
    display: inline-block;
    padding-left: 0.7rem; }

@media (max-width: 1024px) {
  .footer-container {
    margin: 3rem 6vw 0 6vw; } }

@media (max-width: 840px) {
  .footer-container {
    text-align: center;
    margin: 2rem 6vw 0 6vw; }
  .copyright {
    display: block;
    padding: 2rem 0; }
  .icon-container {
    float: none;
    padding-top: 1rem; }
    .icon-container img {
      height: 1.7rem; } }

.header-container {
  padding: 0;
  margin: 0;
  border: 0;
  margin: 0 20vw; }
  .header-container h1 {
    font-family: 'nexa_boldregular';
    /*font-weight: 600;*/
    font-size: 3.2rem;
    color: black;
    line-height: 4rem; }
    .header-container h1 a {
      text-decoration: none;
      color: black; }
    .header-container h1 a:hover {
      color: #707070;
      transition-duration: 0.5s; }

.name-container {
  margin-top: 2.5rem;
  position: absolute; }

#initials {
  display: none; }

/* Nav bar */
.nav-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  top: 0;
  height: 8rem; }

.nav-item {
  float: right; }
  .nav-item a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #707070;
    text-align: center;
    padding-top: 3.5rem;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    text-decoration: none; }
  .nav-item .active {
    text-decoration: line-through; }

.tagline-container {
  margin-bottom: 2rem; }
  .tagline-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #707070;
    line-height: 1.5; }

/* Strikethrough hover pen by tsimenis on Codepen */
.notActive span {
  position: relative;
  cursor: pointer; }

.notActive span:before, .notActive span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #707070; }

.notActive span:before {
  left: -3px; }

.notActive span:after {
  right: 0;
  background: #707070;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }

.notActive span:hover:before {
  background: #707070;
  width: 107%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

.notActive span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s; }

@media (max-width: 1600px) {
  .header-container {
    margin: 0 14vw;
    /*h1 {
          font-size: 2rem;
      }*/ } }

@media (max-width: 1024px) {
  .header-container {
    margin: 0 6vw; }
  #initials {
    display: block; }
  #full-name {
    display: none; }
  .nav-container {
    height: 8rem; } }

@media (max-width: 840px) {
  #resume {
    display: none; } }

.ham-menu {
  display: none; }

/*$color-background: #F5F5F5;
$color-main: #1abc9c;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

body {
  background: $color-background;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin:  0 auto;
  font-family: 'Varela Round', sans-serif;

  p {
    font-size: 20px;
  }
  
  a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $color-main;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
    
    &:after {
      content: '';
      position: absolute;
      background: $color-main;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
  }
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $color-main;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}*/
body {
  background-color: #f6f6f6; }

.page-container {
  margin: 0 20vw; }
  .page-container h1 {
    font-family: 'nexa_boldregular';
    /*font-weight: 600;*/
    font-size: 2rem;
    color: black; }
  .page-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #313131; }
  .page-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #707070; }
  .page-container h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #707070; }
  .page-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    line-height: 1.7; }
    .page-container p a {
      text-decoration: none;
      color: #45af6e; }
    .page-container p a:hover {
      opacity: 0.5;
      transition-duration: 0.5s; }
  .page-container ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    line-height: 1.4; }

@media (max-width: 1600px) {
  .page-container {
    margin: 0 14vw; } }

@media (max-width: 1024px) {
  .page-container {
    margin: 0 0; } }

@media (max-width: 840px) {
  .page-container {
    /*h1 {
            a {
                border-bottom: 0;
            }
        }*/ } }

/* Base styling */
@font-face {
  font-family: 'nexa_boldregular';
  src: url("nexa_bold-webfont.woff2") format("woff2"), url("nexa_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexa_lightregular';
  src: url("nexa_light-webfont.woff2") format("woff2"), url("nexa_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hiragino_kaku_gothic_prow3';
  src: url("fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff2") format("woff2"), url("fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hiragino_kaku_gothic_prow6';
  src: url("fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff2") format("woff2"), url("fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Browser standardization

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables */
