/* Header and footer styling */
body {
  background-color: #222122;
  color: white;
  min-height: 600px; }

/*
 * Layout ===
 */
.page > :nth-child(n+2) {
  margin-bottom: 7.75rem; }

/* 
 * Sections ===
 * Large groups of content
 */
.section {
  display: flex;
  border-radius: 3px; }

.section_horizontal {
  flex-flow: row wrap;
  align-items: stretch;
  align-content: space-around;
  gap: 2rem; }

.section_vertical {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: space-around;
  gap: 2rem;
  border-radius: 3px; }

.section_column {
  flex: 2;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 3px; }

.section_column_wide {
  flex: 2 0 80%;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 3px; }

.section_column > :nth-child(1) {
  padding-bottom: 1rem; }

/* Blocks
 * Used within sections
 */
.block {
  display: flex;
  border-radius: 3px; }

.block_small {
  padding-bottom: 1.5rem; }

.block_medium {
  padding-bottom: 2rem; }

.block_large {
  padding-bottom: 4rem; }

.block_column {
  flex: 2; }
  .block_column h3 {
    padding-bottom: 1rem; }

.block_card {
  padding: 2rem 2rem 2rem 2rem; }

.blocks_horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem; }

/*.blocks_vertical {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: space-around;
    gap: 2rem;
}*/
.blocks_vertical > * {
  margin-bottom: 2rem; }

.span1 {
  flex: 1; }

.span2 {
  flex: 2; }

.span3 {
  flex: 3; }

.span4 {
  flex: 4; }

.span5 {
  flex: 5; }

.span6 {
  flex: 6; }

.span8 {
  flex: 8; }

.span9 {
  flex: 9; }

.span_row_center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1 0 95%; }

.span_row_right {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 95%; }

.span_half {
  flex: 1 0 38%; }

.caption_left {
  float: right; }
  .caption_left h5, .caption_left p {
    text-align: right; }

/* Make transparent */
.transparent {
  backdrop-filter: blur(0.75rem);
  border: 1px solid #363a3a;
  box-shadow: 2px 2px 10px rgba(82, 82, 82, 0.4); }

/*
 * Components ===
 */
.labeled_data h6 {
  color: #C5CDD0;
  padding-bottom: 0.5rem; }

.labeled_data .labeled_data_content > * {
  padding-bottom: 1rem; }

.labeled_data_large h5 {
  padding-bottom: 0.5rem; }

.labeled_data_large p {
  color: #C5CDD0;
  padding-bottom: 0.5rem; }

.gif {
  height: 91%;
  max-height: 91%; }

.data_block h3 {
  padding-bottom: 0; }

.data_block p {
  color: #C5CDD0;
  padding-top: 0.5rem; }

.data_block .data_block_description {
  color: white;
  padding-top: 1rem; }

.data_block_group {
  display: flex;
  gap: 1rem; }

.data_block_distribute2 > * {
  flex: 1 0 40%; }

.data_block_distribute3 > * {
  flex: 1 0 28%; }

.divider_thin {
  border-top: 1px solid #4A5454;
  margin-bottom: 1.5rem; }

.divider_section {
  margin-bottom: 4rem !important; }

/* Tag */
.tag {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  width: fit-content;
  max-width: 30rem; }

.tag_group {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding-top: 0.5rem; }

.tag_default {
  background: #E3E9EC;
  color: #222122; }

.tag_lilac {
  background: #7A48D6;
  color: #F0E3FF; }

/* Button: Return to top */
.button_top {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  width: 3rem;
  height: 3rem;
  border: 2px solid #83F1A4;
  border-radius: 50%;
  backdrop-filter: blur(0.75rem);
  box-shadow: 2px 2px 10px rgba(82, 82, 82, 0.4); }
  .button_top .button_top_icon {
    fill: #83F1A4;
    width: 1.5rem;
    height: 1.5rem; }
  .button_top h6 {
    color: white;
    text-align: center; }

.button_top:hover {
  background: #83F1A4; }
  .button_top:hover .button_top_icon {
    fill: #222122; }

.show {
  display: flex; }

.hide {
  display: none; }

/* 
* Text styles ===
*/
.description, .caption {
  color: #C5CDD0; }

.caption_top_center {
  text-align: center;
  padding-bottom: 1rem; }

.caption_bottom_center {
  text-align: center;
  padding-top: 1rem; }

.caption_top_left {
  padding-bottom: 1rem; }

.caption_bottom_left {
  padding-top: 1rem; }

.text_positive {
  color: #46D27E; }

.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 18%;
  font-family: 'IBM Plex Sans'; }
  .page h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px; }
  .page h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 64px; }
  .page h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    max-width: 840px; }
  .page h4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px; }
  .page h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px; }
  .page h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px; }
  .page p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px; }
  .page .caption1 {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px; }
  .page .caption2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px; }
  .page a {
    color: white;
    text-decoration: none;
    border-bottom: 0.0625rem solid white;
    padding-bottom: 0.15rem; }
  .page a:hover {
    border-bottom: none; }

@media (max-width: 1600px) {
  .page {
    margin: 0 10%; } }

/* Break: Desktop */
@media (max-width: 1024px) {
  .section_horizontal {
    flex-flow: column nowrap; }
  .blocks_horizontal {
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    /*justify-content: space-between;
        align-items: stretch;
        align-content: space-between;*/ }
  .mobile_before_after {
    flex-flow: row wrap; }
    .mobile_before_after .span3, .mobile_before_after .span4 {
      flex: 2 0 45%; }
  .mobile_caption {
    padding-top: 0 !important; }
    .mobile_caption h5 {
      text-align: center; }
  .caption_left {
    order: 3;
    float: left; }
    .caption_left p {
      text-align: left; }
  .caption_right {
    order: 4; }
  .span_row_center .span2 {
    display: none; }
  .span_row_right .span3 {
    display: none; }
  .span8 {
    flex: 2 0 90%; }
  .gif {
    min-height: 576px;
    max-height: 776px;
    height: 90%; } }

/* Break: Tablet */
@media (max-width: 768px) {
  .page h1 {
    /*font-size: 44px;
            line-height: 68px;*/
    font-size: 32px;
    line-height: 60px; }
  .page h2 {
    font-size: 26px;
    line-height: 48px; }
  .page h3 {
    font-size: 21px;
    line-height: 38px; }
  .data_block_group {
    display: flex; }
  .gif {
    height: 70%;
    min-height: 440px;
    max-height: 576px; } }

@media (max-width: 600px) {
  .page {
    margin: 0 1rem; } }

/* Break: Mobile */
@media (max-width: 480px) {
  .gif {
    max-height: 417px; } }

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding-top: 2rem; }
  .footer #copyright {
    display: inline-block; }
  .footer span {
    font-style: italic; }

@-webkit-keyframes glitch {
  0% {
    transform: translateX(-0.05rem); }
  40% {
    transform: translateX(0.1rem) skew(20deg, 20deg);
    fill: #83F1A4; }
  50% {
    fill: black; }
  65% {
    fill: #83F1A4; }
  75% {
    transform: skew(-40deg, -40deg); }
  100% {
    transform: translateX(-0.05rem); } }

.contact_icons {
  float: right; }
  .contact_icons img {
    height: 2rem; }
  .contact_icons .icon {
    fill: #CCCCCC;
    height: 1.5rem; }
  .contact_icons ul li a {
    text-decoration: none;
    border-bottom: none; }
  .contact_icons ul li a:hover > svg {
    animation-name: glitch;
    animation-duration: 0.1s;
    fill: #83F1A4; }
  .contact_icons li {
    display: inline-block;
    padding-left: 0.7rem; }

/* Break: Tablet */
@media (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    height: 6rem;
    padding-bottom: 4rem; }
  /*.contact-icons {
        
        float: none;
        padding-top: 1rem;

        img {
            height: 1.7rem;
        }
    }*/ }

/* Break: Mobile */
/* Header styles */
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin-bottom: 4rem; }
  .header a {
    text-decoration: none; }
  .header .nav_name {
    font-family: 'nexa_boldregular'; }

/* Landing nav, no name */
.landing_nav {
  flex-direction: row-reverse; }

/* Nav group */
.nav_group {
  backdrop-filter: blur(0.5rem);
  /* Text to black on hover */
  /* Active page */ }
  .nav_group a {
    float: left;
    border: 1px solid white;
    padding-bottom: 0; }
    .nav_group a .nav_item {
      display: block;
      font-family: 'nexa_boldregular';
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      margin: 0.5rem 1rem; }
  .nav_group a:hover {
    border-bottom: 0.0625rem solid white; }
    .nav_group a:hover div {
      color: #212223; }
  .nav_group .nav_active {
    background: #E3E9EC;
    opacity: 80%;
    color: #212223; }
  .nav_group .nav_active:hover div {
    color: #212223; }

/* Nav item hover animation */
.hover_sweep {
  transform: translateZ(0);
  transition: white 1000ms; }
  .hover_sweep:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transform: scaleY(0);
    transform-origin: 0 100%;
    transition: 200ms ease-out; }
  .hover_sweep:hover:before {
    transform: scaleY(1); }

/* Break: Tablet */
@media (max-width: 768px) {
  .nav_item a {
    font-size: 1rem; }
  .header {
    flex-direction: column;
    justify-content: center; }
  .nav_name {
    padding-top: 1rem; } }

/* Break: Mobile */
/* Page specific styling */
.project_group {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: space-around;
  gap: 32px; }

.project_card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: space-around;
  flex: 1 0 45%;
  gap: 16px;
  border-radius: 3px;
  position: relative;
  transition: all 0.2s ease-in-out 0s; }
  .project_card .project_card_image {
    flex: 2;
    width: 100%;
    min-height: 20rem;
    background-position-x: center;
    background-position-y: center;
    border-radius: 3px 3px 0 0; }
  .project_card .project_card_content {
    flex: 2;
    padding: 1rem 1rem 1rem 1rem; }
  .project_card .project_card_content > * {
    padding-bottom: 0.5rem; }
  .project_card .project_card_CTA {
    position: absolute;
    left: 1rem;
    bottom: 1rem; }
  .project_card a {
    text-decoration: none;
    border-bottom: none;
    padding-bottom: 0; }

.title_card {
  flex: 1 0 45%;
  padding-right: 2rem; }
  .title_card h1 {
    padding-bottom: 2rem; }

.project_card > * {
  padding-bottom: 1rem; }

.project_card:hover {
  box-shadow: 1px 1px #83F1A4, 2px 2px #83F1A4, 3px 3px #83F1A4, 4px 4px #83F1A4, 5px 5px #83F1A4, 6px 6px #83F1A4, 7px 7px #83F1A4, 8px 8px #83F1A4, 9px 9px #83F1A4, 10px 10px #83F1A4, 12px 12px #83F1A4, 13px 13px #83F1A4, 14px 14px #83F1A4, 15px 15px #83F1A4;
  transform: translate(-15px, -15px);
  transition: all 0.2s ease-in-out 0s; }

.project_group_nav .project_group {
  flex-flow: column nowrap; }
  .project_group_nav .project_group .project_card .project_card_horizontal {
    display: flex; }
    .project_group_nav .project_group .project_card .project_card_horizontal .project_card_image {
      border-radius: 3px 0 0 3px;
      flex: 2; }
    .project_group_nav .project_group .project_card .project_card_horizontal .project_card_content {
      flex: 2; }

@media (max-width: 1024px) {
  .project_group {
    flex-flow: column nowrap; } }

/* Break: Tablet */
@media (max-width: 600px) {
  .project_card:hover {
    box-shadow: 1px 1px #83F1A4, 2px 2px #83F1A4, 3px 3px #83F1A4, 4px 4px #83F1A4, 5px 5px #83F1A4, 6px 6px #83F1A4, 7px 7px #83F1A4;
    transform: translate(-7px, -7px); } }

/* Break: Mobile */
.profile_image {
  flex: 2;
  background-image: url("../images/pfp2021.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  width: 100%;
  min-height: 42rem;
  padding-right: 2rem;
  border-radius: 3px 0 0 3px; }

.profile_intro {
  flex: 2;
  padding: 2rem 2rem 2rem 0; }
  .profile_intro .intro_header {
    padding: 0 0 1rem 0; }

@media (max-width: 1024px) {
  .profile_image {
    border-radius: 3px 3px 0 0;
    padding-right: 0; }
  .profile_intro {
    padding: 0 2rem 2rem 2rem; } }

/* Break: Tablet */
/* Break: Mobile */
.distribute4 > * {
  width: 22%; }

.hero_card {
  height: 54vh;
  min-height: 30rem;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  border-radius: 3px 3px 0 0; }

.project_intro {
  padding: 0 2rem 2rem 2rem; }
  .project_intro .project_intro_header {
    padding-bottom: 1rem; }
  .project_intro .intro_block {
    padding: 1rem 0; }

.project_hero_image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0F2FF;
  border-radius: 3px 3px 0 0; }

.section_header .section_title {
  flex: 2;
  /*h2 {
            text-align:right;
            padding-right: 2rem;
        }*/ }

.section_header .section_description {
  flex: 2; }

/*
 * Layout styles ==
 */
.mobile_caption {
  padding-top: 4rem; }

/*
 * Image styles ===
 */
.image {
  height: 54vh;
  min-height: 30rem; }

.image_fit {
  max-height: 100%;
  max-width: 100%;
  border-radius: 3px; }

@media (max-width: 1200px) {
  .distribute4 > * {
    width: 47%; } }

@media (max-width: 1024px) {
  .distribute4 > * {
    width: 95%; } }

/* Break: Tablet */
/* Break: Mobile */
.landing_content {
  padding-top: 7.75rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: space-around;
  gap: 2rem; }

.landing_name {
  font-family: 'nexa_boldregular';
  color: #222122;
  padding-left: 0.5rem; }

.highlight_white {
  background-color: white;
  max-width: 405px;
  padding-left: 0.5rem; }

#c {
  width: 100%;
  height: 100vh;
  display: block; }

.landing_description {
  padding: 0 1rem 1rem 1rem;
  max-width: 940px;
  width: 70vw; }

@media (max-width: 1024px) {
  .landing_description {
    width: auto; } }

/* Break: Tablet */
@media (max-width: 768px) {
  .landing_content {
    gap: 1rem; }
  .highlight_white {
    max-width: 300px; } }

@media (max-width: 600px) {
  .landing_content {
    padding-top: 2rem; } }

/* Break: Mobile */
/* Base styling */
/* ibm-plex-sans-300italic - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/ibm-plex-sans-v9-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/ibm-plex-sans-v9-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-sans-v9-latin-300italic.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v9-latin-300italic.woff") format("woff"), url("../fonts/ibm-plex-sans-v9-latin-300italic.ttf") format("truetype"), url("../fonts/ibm-plex-sans-v9-latin-300italic.svg#IBMPlexSans") format("svg");
  /* Legacy iOS */ }

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-sans-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/ibm-plex-sans-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-sans-v9-latin-regular.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v9-latin-regular.woff") format("woff"), url("../fonts/ibm-plex-sans-v9-latin-regular.ttf") format("truetype"), url("../fonts/ibm-plex-sans-v9-latin-regular.svg#IBMPlexSans") format("svg");
  /* Legacy iOS */ }

/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ibm-plex-sans-v9-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/ibm-plex-sans-v9-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-sans-v9-latin-600.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v9-latin-600.woff") format("woff"), url("../fonts/ibm-plex-sans-v9-latin-600.ttf") format("truetype"), url("../fonts/ibm-plex-sans-v9-latin-600.svg#IBMPlexSans") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'nexa_boldregular';
  src: url("nexa_bold-webfont.woff2") format("woff2"), url("nexa_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexa_lightregular';
  src: url("nexa_light-webfont.woff2") format("woff2"), url("nexa_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Browser standardization

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables */
/* Project files */
/*@import "projects/base_measurements";
@import "projects/icons";
@import "projects/brand_colors";
@import "projects/dimensions";
@import "projects/semantic_colors";
@import "projects/typography";
@import "projects/layout";
@import "projects/overlays";
@import "projects/datepicker";
@import "projects/dropdown";
@import "projects/fieldWrapper";
@import "projects/forms";
@import "projects/formUnit";
@import "projects/individual_components";
@import "projects/pagination";
@import "projects/select";

@include paSelect;
@include paFormUnit;
@include paFieldWrapper;
@include paDropdown;
@include paPagination;
@include paDatepicker;*/
