/* Page specific styling */
/* Fluid Grid by patrickkunka on codepen */
.grid {
  /*background-color: #161616;*/
  width: 100%; }

.gridItemContainer {
  text-align: justify;
  font-size: 0.1px; }

.gridItem {
  display: inline-block;
  width: 50%;
  height: 70vh;
  margin-bottom: 2%;
  border-style: solid;
  text-align: center;
  background: #a0a0a0; }

.itemName {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 30px;
  position: relative; }

.gridLink {
  text-decoration: none; }

.gridItemContainer:after {
  content: '';
  display: inline-block;
  width: 100%; }

/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */
/* 2 columns */
@media (max-width: 3000px) {
  .gridItem {
    width: 49.5%;
    margin-bottom: 1%; }
  /* Change grid transformation size */
  .grid > div > a > div:hover {
    transition: .2s transform; }
  .grid > div > a > div:hover > h3 {
    transition: .2s transform; } }

/* 1 column */
@media (max-width: 940px) {
  .gridItem {
    width: 100%;
    margin-bottom: 2.5%; }
  /* Change grid transformation size */
  .grid > div > a > div:hover {
    transition: .2s transform; }
  .grid > div > a > div:hover > h3 {
    transition: .2s transform; } }

.previewImage {
  width: 100%;
  height: 100%; }

.page-container {
  margin-left: 9rem;
  margin-right: 9rem; }
  .page-container h1 {
    font-family: 'nexa_boldregular';
    /*font-weight: 600;*/
    font-size: 2rem;
    color: black; }
  .page-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #313131; }
  .page-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #707070; }
  .page-container h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #707070; }
  .page-container p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
    line-height: 1.7; }

@media (max-width: 840px) {
  .page-container {
    margin-left: 3rem;
    margin-right: 3rem; } }

.project-landing {
  background-color: #a0a0a0;
  width: 100%;
  height: 35rem; }

.project-name {
  margin-top: 4rem;
  margin-bottom: 2rem; }
  .project-name span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #707070; }

.project-description {
  margin-left: 40vw; }

.project-info {
  height: 100%;
  margin-top: 5rem; }
  .project-info h3 {
    margin-bottom: 0.6rem; }

.project-details {
  display: grid;
  grid-template-columns: 35vw auto auto;
  grid-column-gap: 5vw;
  margin-top: 1rem;
  margin-bottom: 4rem; }
  .project-details .project-detail-item {
    margin-top: 3rem; }
    .project-details .project-detail-item p {
      margin-top: 0.5rem; }

@media (max-width: 600px) {
  .project-details {
    display: block; } }

@media (max-width: 1024px) {
  .project-details {
    grid-template-columns: auto auto; } }

.block-container h2, .block-container h3 {
  margin-bottom: 1.8rem; }

.block-container img {
  width: 100%; }

.image-left {
  width: 35vw; }

.text-right {
  margin-left: 40vw; }

.section-container * {
  margin-bottom: 2rem; }

.image-text-column {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5vw; }

@media (max-width: 1024px) {
  .project-description {
    margin-left: 0; }
  .text-right {
    margin-left: 0; } }

/* Header and footer styling */
#navBar {
  margin-bottom: 2vw; }

.header-container {
  padding: 0;
  margin: 0;
  border: 0;
  margin-left: 9rem;
  margin-right: 9rem; }
  .header-container h1 {
    font-family: 'nexa_boldregular';
    /*font-weight: 600;*/
    font-size: 3.2rem;
    color: black; }

@media (max-width: 840px) {
  .header-container {
    margin-left: 3rem;
    margin-right: 3rem; } }

.nameContainer {
  margin-top: 2.5rem;
  position: absolute; }

.tagContainer {
  position: absolute;
  margin-top: 7.4rem; }

.tag1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #707070;
  margin-right: 0.5rem; }

.tag2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  color: #707070; }

/* Nav bar */
.navBarContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  top: 0;
  height: 10rem; }

.fullNavBar {
  float: right; }
  .fullNavBar a {
    display: block;
    font-family: 'nexa_boldregular';
    font-size: 1.5rem;
    color: #707070;
    text-align: center;
    padding-top: 3.1rem;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    text-decoration: none; }
  .fullNavBar .active {
    text-decoration: line-through; }

/* Strikethrough hover pen by tsimenis on Codepen */
.notActive span {
  position: relative;
  display: block;
  cursor: pointer; }

.notActive span:before, .notActive span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #707070; }

.notActive span:before {
  left: -3px; }

.notActive span:after {
  right: 0;
  background: #707070;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); }

.notActive span:hover:before {
  background: #707070;
  width: 107%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1); }

.notActive span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s; }

.header {
  display: inline;
  position: absolute;
  z-index: 5;
  width: 100%; }

/* Base styling */
@font-face {
  font-family: 'nexa_boldregular';
  src: url("nexa_bold-webfont.woff2") format("woff2"), url("nexa_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexa_lightregular';
  src: url("nexa_light-webfont.woff2") format("woff2"), url("nexa_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hiragino_kaku_gothic_prow3';
  src: url("fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff2") format("woff2"), url("fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hiragino_kaku_gothic_prow6';
  src: url("fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff2") format("woff2"), url("fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Browser standardization

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables */
