
/* Browser standardization

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of browser standardization */

/* Start fonts */
@font-face {
    font-family: 'nexa_boldregular';
    src: url('nexa_bold-webfont.woff2') format('woff2'),
         url('nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_lightregular';
    src: url('nexa_light-webfont.woff2') format('woff2'),
         url('nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hiragino_kaku_gothic_prow3';
    src: url('fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff2') format('woff2'),
         url('fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'hiragino_kaku_gothic_prow6';
    src: url('fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff2') format('woff2'),
         url('fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* End fonts */

.pageContainer{
	line-height: 0;
	background: #fcfcfc;
}

/* Fluid Grid by patrickkunka on codepen */
.grid{
	/*background-color: #161616;*/

	width: 100%;
}

.gridItemContainer{
  text-align: justify;
  font-size: 0.1px;
}

.gridItem{
  	display: inline-block;
	width: 50%;
	height: 70vh;
	margin-bottom: 2%;
	border-style: solid;
	text-align: center;
	background: #a0a0a0;
}

.itemName{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: black;
	font-size: 30px;
	position: relative;
}

.gridLink{
	text-decoration: none;
}

.gridItemContainer:after{
  content: '';
  display: inline-block;
  width: 100%;
}


/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 2 columns */
@media (max-width: 3000px){
  .gridItem{
		
		width: 49.5%;
		margin-bottom: 1%;
	}

	/* Change grid transformation size */
	.grid > div > a > div:hover{
		transition: .2s transform;
	}

	.grid > div > a > div:hover > h3{
		transition: .2s transform;
	}

}

/* 1 column */
@media (max-width: 940px){
  .gridItem{
    width: 100%;
		margin-bottom: 2.5%;
	}

	/* Change grid transformation size */
	.grid > div > a > div:hover{
		transition: .2s transform;
	}

	.grid > div > a > div:hover > h3{
		transition: .2s transform;
	}

	/* Menu */
	.menu {
		width: 50px;
		height: 50px;
	  
		margin-left: -($menu-width / 2);
		margin-top: -($menu-height / 2);
	  
		&:hover {
		  cursor: pointer;
		}
	  }
	  
	  
	  
	  
	  .menu-3 {
		&:hover {
		  .menu-item {
			&:nth-child(2) {
			  @include translateX(5px);
			}
		  }
		}
		
		&.open {
		  .menu-item {
			background: #000000;
			
			&:first-child {
			  @include transition-delay(.2s);
			  @include rotate(45deg);
			  @include transform-origin(10px);
			}
			&:nth-child(2) {
			  @include translateX($menu-width);
			  opacity: 0;
			}
			&:nth-child(3) {
			  @include transition-delay(.4s);
			  @include rotate(-45deg);
			  @include transform-origin(8px);
			}
		  }
		}
	  }
	  
	  .menu-item {
		@include transition(all 0.2s);
		
		display: block;
		width: $menu-width;
		height: 3px;
		margin: 0 0 5px;
	  
		background: #000000;
	  }

	  /* End menu */
}

.previewImage {
	width: 100%;
	height: 100%;
}

/* CSS Image Gallery Zoom by Oliver Knoblich on code pen */

.grid > div > div {
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.grid > div:hover {
  z-index: 1;
}

.cf:before, .cf:after {
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.footer {
	background-color: #4e4e4e;
	width: 100%;
	height: 9vw;
	color: #ffffff;
}

#navBar {
	margin-bottom: 2vw;
}

/* About */

.bio{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #b9b9b9;
	height: 100%;
	margin-left: 5vw;
	z-index: 1;
	text-align: right;
	position: absolute;
	margin-right: 6vw;
	line-height: 1.5;
}

.bio h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 25px;
	padding-top: 2vw;
	padding-bottom: 5vw;
}

#bio1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.6;
	margin-bottom: 4vw;
	max-width: 70%;
	margin-left: 30vw;
}

#bio2{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.6;
	margin-bottom: 4vw;
	max-width: 60%;
	margin-left: 40vw;
}

#bio3{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.6;
	margin-bottom: 4vw;
	max-width: 60%;
	margin-left: 40vw;
}

.accent{
	color: #ffc20f;
}

.profileImage{
	max-width: 50%;
}

@media (max-width: 1000px){
	.bio h1 {
		font-size: 2.4vw;
		padding-bottom: 5vw;
	}
	
	#bio1, #bio2, #bio3{
		font-size: 2.25vw;
		line-height: 3.5vw;
	}
}

@media (max-width: 1110px){
	.profileImage{
		margin-top: 8vw;
	}
}

/* projects */

.coverImageHoriz{
	margin-top: 2vw;
	margin-left: 2vw;
	width: 75%;
	margin-bottom: 3vw;
}

.coverImageVert{
	margin-top: 2vw;
	margin-left: 17vw;
	width: 60%;
	margin-bottom: 3vw;
}

.descriptionContainer{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.6;

	position: fixed;
	padding-top: 3%;
    top: 15%;
	bottom: 10%;
	margin-top: 4vw;
	margin-left: 79vw;
	padding-right: 2.5vw;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.4;
}

.infoContainer{
	margin-bottom: 3vw;
}

.infoContainer h4{
	font-size: 15px;
	color: #ffffff;
}

.infoContainer p{
	color: #b9b9b9;
	font-size: 15px;
}

.block{
	margin-top: 4vw;
}

.blockContainer{
	line-height: 1.5;
	color: #b9b9b9;

	text-align: left;
	margin-right: 23vw;
	margin-left: 2.5vw;
}

.blockTitle{
	margin-left: 5vw;
	margin-bottom: 1vw;
}

.blockTitle h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 25px;
	line-height: 1.5;
	color: #ffffff;
}

.blockContent{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	margin-left: 5vw;
	margin-bottom: 3vw;
}

.blockContent a{
	color: #ffc20f;
}

.blockImageHoriz{
	max-width: 100%;
	margin-bottom: 3vw;
}
