// Media breakpoints
$xs-screen: 480px;
$sm-screen: 600px;
$md-screen: 840px;
//$lg-screen: 960px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 2200px;

// Body padding/margins
$top-padding-xs: 4rem;
$top-padding-sm: 9rem;
$top-padding-xl: 12rem;
$bottom-padding: 6rem; // Space b/t content and footer
$side-padding-xs: 7vw;
$side-padding-sm: 12vw;
$side-padding-xl: 12vw;