@font-face {
    font-family: 'nexa_boldregular';
    src: url("nexa_bold-webfont.woff2") format("woff2"), url("nexa_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'nexa_lightregular';
    src: url("nexa_light-webfont.woff2") format("woff2"), url("nexa_light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'hiragino_kaku_gothic_prow3';
    src: url("fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff2") format("woff2"), url("fonts/copyfonts.com_hirakakupro-w3-opentype-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'hiragino_kaku_gothic_prow6';
    src: url("fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff2") format("woff2"), url("fonts/copyfonts.com_hirakakupro-w6-opentype-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }