.profile_image {
    flex: 2;
    background-image: url("../images/pfp2021.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    width: 100%;
    min-height: 42rem;
    padding-right: 2rem;
    border-radius: 3px 0 0 3px;
}

.profile_intro {
    flex: 2;
    padding: 2rem 2rem 2rem 0;

    .intro_header {
        padding: 0 0 1rem 0;
    }
}




@media(max-width: 1600px){
}

@media(max-width: 1200px){
}

@media(max-width: 1024px){
    .profile_image {
        border-radius: 3px 3px 0 0;
        padding-right: 0;

    }

    .profile_intro {
        padding: 0 2rem 2rem 2rem;
    }
    

}

/* Break: Tablet */
@media(max-width: 768px){
    
}

@media(max-width: 600px) {
}

/* Break: Mobile */
@media(max-width: 480px) {

}