

.profile-grid{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    //grid-template-columns: 40% auto;
}

#wide-profile-image {
    display: none;
}

#block-profile-image {
    display: block;
}

.profile-image-container {
    width: 42rem;
    background-image: url("../images/profile-cropped-optimized.jpg");
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    min-height: 40rem;
}

.bio-container {

    padding-left: 4rem;
    padding-top: 2rem;

    h1 {
        line-height: 2.3rem;
    }

    h2 {
        margin: 2rem 0;
        line-height: 1.7rem;
    }

    p {

        color: black;
        line-height: 1.8;
        margin-bottom: 2rem;

        a {
            text-decoration: none;
            color: #45af6e;
        }

        a:hover {
            opacity: 0.5;
            transition-duration: 0.5s;
        }
    }

}

@media(max-width: 1600px){

    .bio-container {

        padding-left: 2rem;
        p {
            //font-size: 1.1rem;
        }
    }

    .profile-image-container {
        width: 38rem;
    }
}

@media(max-width: 1280px){

    .profile-image-container {
        width: 30rem;
        min-height: 20rem;
    }

    .bio-container {

        p {
            //font-size: 0.9rem;
        }
    }

}

@media(max-width: 1024px){

    .header-container {
        margin: 0 6rem;
    }

    .about-container {
        margin: 0 0;
    }

    .profile-image-container {
        width: 100%;
        min-height: 38rem;
        background-position-y: center;
    }

    #wide-profile-image {
        display: block;
    }

    #block-profile-image {
        display: none;
    }

    .profile-grid {
        display: block;
    }

    .bio-container {
        padding: 2rem 6vw;
        font-size: 0.9rem;
    }
}

@media(max-width: 840px){
    
    .profile-image-container {
        min-height: 30rem;
        
    }

    .about-container {       

        h1 {
            a {
                border-bottom: 0;
            }
        }
    }
    
}

@media(max-width: 600px) {

    .profile-grid {
        //margin-top: 4rem;
    }

    .bio-container {
        padding: 0 2rem;
    }
}