/* Fluid Grid by patrickkunka on codepen */
.grid{
	/*background-color: #161616;*/

	width: 100%;
}

.grid-item-container{

  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
}

.grid-item-background {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 3;
    opacity: 1;
    
}

.grid-item-title {
    opacity: 0;
    position: relative;
    text-align: center;
    padding-top: 28vh;
    color: black;
    z-index: 5;


    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 4rem; 
        padding-bottom: 2rem; 
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
        padding-bottom: 2rem;  
        line-height: 1.6;
    }
}

.grid-item{

    height: 70vh;
    margin-bottom: 1%;
    border-style: solid;
    text-align: center;
    background: #a0a0a0;
    background-position-x: center;
    background-size: cover;

}

.hover {
    display: none;
}

.grid-link:hover {


    .grid-item-background {
        opacity: 0.8;
        transition-duration: 0.5s;
    }

    .grid-item-title {
        opacity: 1;
        transition-duration: 0.5s;
        transition-delay: 0.7s;
    }

    .hover {
        display: block;
        opacity: 1;
        transition-duration: 0.5s;
    }

    .no-hover {
        //opacity: 0;
        display: none;
        //opacity: 0.5;
        //transition-duration: 0.5s;
    }

}

.grid-link{
  text-decoration: none;
}

@media(max-width: 1600px){

    .grid-item-title {
        padding-top: 27vh;
    
    }
}

@media(max-width: 1280px){

    .grid-item-title {
        padding-top: 26vh;
    
    }

    .grid-item {
        //height: 50vh;
    }


}

@media(max-width: 1024px){

    .grid-item-title {
        padding-top: 25vh;
    
    }

    .grid-item{

        height: 50vh;
    }


}


@media (max-width: 980px){

    .grid-item-container{
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 1%;
        grid-row-gap: 0;
      }

      .grid-item-title {

        padding-top: 24vh;

        h2 {
            font-size: 3.2rem;
            color: #313131;   
            padding-bottom: 2rem; 
        }
    
        h3 {
            font-size: 1.8rem;
            padding-bottom: 2rem;  
            line-height: 1.6;
        }
    }
}

@media (max-height: 600px) {
    .grid-item-title {

        padding-top: 24vh;

        h2 {
            font-size: 3.2rem;
            color: #313131;   
            padding-bottom: 1rem; 
        }
    
        h3 {
            font-size: 1.8rem;
            padding-bottom: 2rem;  
            line-height: 1.6;
        }
    }
}