.project-block-container {
    margin-top: 4rem;
}

.project-row-container{

    display: grid;
    //grid-template-columns: 36% 60%;
    grid-template-columns: 28vw auto;
    grid-column-gap: 2rem;
    margin-bottom: 5rem;

    transition: all 0.4s ease-in-out;

    .project-row-info-container {
        position: relative;
        opacity: 0.15;
        transition: opacity 0.4s linear;
    

        .project-row-info {
            border-right: 1px solid white;
    
            h2 {
                padding-bottom: 2rem;

                a {
                    text-decoration: none;
                    border-bottom: none;
                }
            }

            .project-type {
                padding-bottom: 1rem;
            }
        }
    }
}

.project-row-container:hover {

    transition: all 0.6s ease-in-out;
    //transform: scale(1.05);
    transform: translateX(1.5rem);

    .project-row-info-container {
        opacity: 1;
        transition-duration: 0.5s;
    }
}


.project-row-info {
    border-right: 1px solid white;
    text-align: right;
    padding-right: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 0;

      h2 {
        padding-bottom: 32px;
    }
}

.project-row-image-container {

    .project-row-image {
        height: 54vh;
        min-height: 13rem;
        //background: no-repeat center center fixed; 
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        text-align: center;
        margin: auto;

        border-radius: 1rem;
    }

}

.hidden {
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0.7s;
}

@media(max-width: 1600px){

}

@media(max-width: 1280px){

    .grid-item {
        //height: 50vh;
    }
}

@media(max-width: 1024px){

    .project-row-image-container {

        .project-row-image {
            height: 44vh;
        }
    
    }
}

@media(max-width: 840px){
    
}


@media (max-width: 600px){

}

@media (max-height: 600px) {

}