.landing-container{

    position: absolute;
    top: 35%;
    //height: 100vh;



    .landing-name {
        font-family: 'nexa_boldregular';
        font-size: 2.75rem;
        line-height: 3.25rem;
        color: #222122;
    }

}




.box-white {
    background-color: white;
    max-width: 405px;
    padding-left: 0.5rem;
}

.box-black {
    //background-color: #141514;
    //padding-left: 0.5rem;
    //opacity: 0.8;
}

#c {
    width: 100%;
    height: 100vh;
    display: block;
    //height:100%;
}

.landing-description {
    margin-top: 2rem;
    max-width: 940px;
    width: 70vw;

    p {
        font-family: 'Lora', serif;
        font-size: 2rem;
        line-height: 1.7;
    }

    a {
        text-decoration: none;
        color: white;
        border-bottom: 0.0625rem solid white;
        padding-bottom: 0.25rem;
    }

    a:hover {
        border-bottom: none;
    }

    
}

.landing-footer-copyright {
    position: fixed;
    //left: 15.625rem;
    left: 22%;
    bottom: 9%;

    font-family: 'Lora', serif;
    font-size: 0.75rem;

}

.landing-footer-icons {
    //margin-top: 10%;
    position: fixed;
    //right: 15.625rem;
    right: 22%;
    bottom: 10%;
}


@media(max-width: 1600px){
    .landing-nav-container2{
        //right: 13rem;
        right: 10%;
    }

    .landing-footer-icons{
        //right: 13rem;
        right: 10%;
    }

    .landing-footer-copyright{
        //left: 13rem;
        left: 10%;
    }
}

@media(max-width: 1280px){
    .landing-nav-container2 {
        //right: 11rem;
    }

    .landing-footer-icons{
        //right: 11rem;
    }

    .landing-footer-copyright{
        //left: 11rem;
    }



}

@media(max-width: 1024px) {
    .landing-nav-container2 {
        //right: 6rem;
    }

    .landing-footer-icons{
        //right: 6rem;
    }

    .landing-footer-copyright{
        //left: 6rem;
    }

    .landing-description {
        p {
            font-size: 1.5rem;
        }
    }

    .landing-container {
        .landing-name {
            font-size: 2.25rem;
        }
    }

    .box-white {
        min-width: 320px;
        width: 25vw;
    }

    .landing-description {
        width: 65vw;
    }



}

@media(max-width: 840px){

    .landing-description {
        width: 75vw;
    }

}

@media(max-width: 600px){
    .landing-nav-container2 {
        right: 1rem;
        position: absolute;
    }

    .landing-container {
        top: 30vh;
    }

    .landing-footer-copyright{
        //display: block;
        position: absolute;
        top: 80vh;
        //right: auto;
        //left: auto;
        left: calc((100% - 215px)/2);
        bottom: none;
        //text-align: center;
        //width: 100%;
    }

    .landing-footer-icons{
        //display: block;
        position: absolute;
        bottom: none;
        right: none;
        left: calc((100% - 170px)/2);
        top: 86vh;
        //text-align: center;
        //width: 100%;
    }

    .landing-description {
        width: 90vw;
    }
}

@media(max-width: 400px){


}

@media(max-height: 500px) {

    .landing-container {
    //    height: 100%;
      //  margin-bottom: 4rem;
    }
}

