.landing-container{

    height: 100vh;

    .landing-name {
        font-family: 'nexa_boldregular';
        font-size: 4.2rem;
        //letter-spacing: 2px;
        line-height: 4rem;
        

        a {
            color: white;
            text-decoration: none;
            /*border-bottom: 2px solid #313131;*/
        }

        /*a:hover {
            color: #876abb;
            border-bottom-color: white;
            transition-duration: 0.5s;

        }*/
    }

}

.landing-greeting {
    margin-top: 13rem;
    margin-bottom: 2rem;

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        //letter-spacing: 2px;   
    }
}

.landing-description {
    margin-left: 38vw;
    margin-top: 2rem;

    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        //letter-spacing: 2px;
        line-height: 1.7;
    }

    a {
        text-decoration: none;
        color: white;
        border-bottom: 0.0625rem solid white;
        padding-bottom: 0.25rem;
    }

    a:hover {
        border-bottom: none;
    }

}

.pull-container {
    margin: 6rem 0;
    display: grid;
    grid-template-columns: 1.6rem auto;
    grid-column-gap: 0.75rem;

    .pull-icon-container {
        padding-top: 0.4rem;
    }
    .pull-icon {
        height: 1.6rem;
        width: 1.6rem;
    }

    .pull-text {
        line-height: 2rem;

        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 2rem;
        }

        a {
            text-decoration: none;
            color: white;
            border-bottom: 0.0625rem solid white;
            padding-bottom: 0.25rem;
        }
        a:hover {
            border-bottom: none;
        }
    }
}

@media(max-width: 1600px){
    .landing-container{

        .landing-name {
            font-size: 3.6rem;
        }

        h2, p {
            font-size: 1.2rem;
        }
    }

    .landing-description {
        margin-left: 40vw;
    }

    .pull-container {
        grid-template-columns: 1.5rem auto;
        .pull-icon {
            height: 1.5rem;
            width: 1.5rem;
        }
        .pull-text {
            p {
                font-size: 1.1rem;
            }
        }
    }
}

@media(max-width: 1280px){
    .landing-container {

        .landing-name {
            a {
                font-size: 3.2rem;
                border-bottom: 0;
            }
        }

        h2, p {
            font-size: 1.2rem;
        }
    }


    .pull-container {
        grid-template-columns: 1.4rem auto;
        .pull-icon {
            height: 1.4rem;
            width: 1.4rem;
        }
        .pull-text {
            p {
                font-size: 1rem;
            }
        }
    }
}

@media(max-width: 1024px) {
    .landing-description {
        margin-left: 0;
    }
}

@media(max-width: 840px){
    .landing-container {

        .landing-name {
            a {
                font-size: 3rem;
                border-bottom: 0;
            }
        }

        h2, p {
            font-size: 1rem;
        }
    }
    .greeting-container {
        margin-top: 9rem;
        margin-bottom: 1rem;
    }

    .pull-container {
        grid-template-columns: 1.3rem auto;
        .pull-icon-container {
            padding-top: 0.5rem;
        }
        .pull-icon {
            height: 1.3rem;
            width: 1.3rem;
        }
        .pull-text {
            p {
                font-size: 0.9rem;
            }
        }
    }
}

@media(max-width: 600px){
    .greeting-container {
        margin-top: 6rem;
    }

}

@media(max-width: 400px){

    .landing-greeting {
        margin-top: 6rem;
    }
}

@media(max-height: 500px) {

    .landing-container {
        height: 100%;
        margin-bottom: 4rem;
    }
}

