.landing-container{

    position: absolute;
    top: 35%;
    //height: 100vh;

    //backdrop-filter: blur(0.25rem);

    .landing-name {
        font-family: 'nexa_boldregular';
        font-size: 2.75rem;
        line-height: 3.25rem;
        color: #222122;
    }

}




.box-white {
    background-color: white;
    max-width: 405px;
    padding-left: 0.5rem;
}

.box-black {
    //background-color: #141514;
    //padding-left: 0.5rem;
    //opacity: 0.8;
}

#c {
    width: 100%;
    height: 100vh;
    display: block;
    //height:100%;
}

.landing-description {
    margin-top: 2rem;
    max-width: 940px;
    width: 70vw;
    backdrop-filter: blur(0.25rem);

    p {
        font-family: 'Lora', serif;
        font-size: 2rem;
        line-height: 1.7;
    }

    a {
        text-decoration: none;
        color: white;
        border-bottom: 0.0625rem solid white;
        padding-bottom: 0.25rem;
    }

    a:hover {
        border-bottom: none;
    }

    
}

.landing-footer-copyright {
    position: fixed;
    //left: 15.625rem;
    left: 22%;
    bottom: 9%;

    font-family: 'Lora', serif;
    font-size: 0.75rem;

}

.landing-footer-icons {
    //margin-top: 10%;
    position: fixed;
    //right: 15.625rem;
    right: 22%;
    bottom: 10%;
}


// Project preview
.project-group {
    display: grid;
    grid-template-columns: 26vw auto;
    grid-column-gap: 2vw;
}

.project {
    padding: 8rem;
    border: 1px solid white;
    backdrop-filter: blur(0.25rem);

    clip-path: 
    polygon(
      0% 20px,                 /* top left */
      20px 0%,                 /* top left */
      calc(100% - 20px) 0%,    /* top right */
      100% 20px,               /* top right */
      100% calc(100% - 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right */
      20px 100%,               /* bottom left */
      0 calc(100% - 20px)      /* bottom left */
    );
}


@media(max-width: 1600px){
    .landing-nav-container2{
        //right: 13rem;
        right: 10%;
    }

    .landing-footer-icons{
        //right: 13rem;
        right: 10%;
    }

    .landing-footer-copyright{
        //left: 13rem;
        left: 10%;
    }
}

@media(max-width: 1280px){
    .landing-nav-container2 {
        //right: 11rem;
    }

    .landing-footer-icons{
        //right: 11rem;
    }

    .landing-footer-copyright{
        //left: 11rem;
    }



}

@media(max-width: 1024px) {
    .landing-nav-container2 {
        //right: 6rem;
    }

    .landing-footer-icons{
        //right: 6rem;
    }

    .landing-footer-copyright{
        //left: 6rem;
    }

    .landing-description {
        p {
            font-size: 1.5rem;
        }
    }

    .landing-container {
        .landing-name {
            font-size: 2.25rem;
        }
    }

    .box-white {
        min-width: 320px;
        width: 25vw;
    }

    .landing-description {
        width: 65vw;
    }



}

@media(max-width: 840px){

    .landing-description {
        width: 75vw;
    }

}

@media(max-width: 600px){

    .landing-description {
        left: 1rem;
        width: 90vw;
    }

    .landing-container {
        top: 25vh;
    }

    .landing-footer-copyright{
        position: absolute;
        top: 83vh;
        left: calc((100% - 215px)/2);
        bottom: none;

    }

    .landing-footer-icons{
        position: absolute;
        bottom: none;
        right: none;
        left: calc((100% - 170px)/2);
        top: 89vh;
    }



}

@media(max-width: 400px){


}

@media(max-height: 500px) {

    .landing-container {
    //    height: 100%;
      //  margin-bottom: 4rem;
    }
}

@media(max-height: 500px) {


}

