
.distribute4 > * {
    width: 22%;
}

.hero_card {
    height: 54vh;
    min-height: 30rem;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 3px 3px 0 0;
}

.project_intro {
    padding: 0 2rem 2rem 2rem;


    .project_intro_header {
        padding-bottom: 1rem;
    }

    .intro_block {
        padding: 1rem 0;
    }
}

.project_hero_image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0F2FF;

    image {
        
    }
}

.section_header {
    .section_title {
        flex: 2;
    
        /*h2 {
            text-align:right;
            padding-right: 2rem;
        }*/
    }

    .section_description {
        flex: 2;
    }
}

/*
 * Layout styles ==
 */
.mobile_caption {
    padding-top: 4rem;
}



/*
 * Image styles ===
 */ 
 .image {
    height: 54vh;
    min-height: 30rem;
}

.image_fit {
    max-height: 100%;
    max-width: 100%;
    border-radius: 3px;
}

@media(max-width: 1600px){

}

@media(max-width: 1200px){
    .distribute4 > * {
        width: 47%;
    }
}

@media(max-width: 1024px){

    .distribute4 > * {
        width: 95%;
    }

}

/* Break: Tablet */
@media(max-width: 768px){
}


@media(max-width: 600px){
}

/* Break: Mobile */
@media(max-width: 480px) {

}

