.page-container-project {
    margin: 0;
}

.project-landing {
    background-color: #a0a0a0;
    width: 100%;
    height: 35rem;
    background-position-x: center;
    background-size: cover;
}

.project-name {
    margin-top: 4rem;
}

.project-description, .text-right {
    margin-left: 30vw;
}

.project-description {
    margin-bottom: 4rem;
}

.project-details-container {
    display: grid;
    grid-template-columns: 26vw auto;
    grid-column-gap: 2vw;

    margin: 2vw 2vw 4vw 2vw;

    .project-details-left {
        border: 1px solid white;
        padding: 2vw 0 0 2vw;
        display: grid;
        grid-template-columns: auto;
      
        .project-detail-item {
            padding-right: 2rem;
            padding-bottom: 2rem;
    
            h4 {
                padding-bottom: 0.5rem;
            }
        }
    }

    .project-details-right {
        border: 1px solid white;
        padding: 2vw 2vw 0 2vw;
        display: grid;
        grid-template-columns: auto auto;
      
        .project-detail-item {
            //margin-top: 3rem;
            padding-right: 2rem;
            padding-bottom: 2rem;
    
            h4 {
                padding-bottom: 0.5rem;
            }
    
      }
    }
}


.block {

    margin-bottom: 4rem;

    h2, h3 {
        padding-top: 2rem;
        margin-bottom: 2rem;
    }

    img {
        width: 100%;
    }
}

.block-container {
    margin: 0;
    padding: 2rem 0;
}

.block > *, .project-intro-container > *, .project-margins {
    padding: 0 17rem;
}

.block > *:not(:last-child) {
    padding-bottom: 2rem;
}

.project-container {

    h2, h3 {
        width: 35vw;
    }

    .media-container {
        padding: 0 2rem;
        margin-bottom: 3rem;
    }

    .boxed-content {
        border: 1px solid white;
        padding: 2rem;
        margin: 0 2rem 2rem 2rem;
    }

    .boxed-content > *:not(:last-child) {
        padding-bottom: 2rem;
    }

    .list > ul > *:not(:last-child) {
        padding-bottom: 2rem;
    }

    .quote {

        margin-bottom: 2rem;
    
        p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-style: italic;
            font-size: 1.6rem;    
        }
    }

    .embedded-page {
        width: 100%;
        height: 100%;
        min-height: 40rem;
    }

    .bold {
        font-weight: 500;
    }

    .italic {
        font-style: italic;
    }

    .underline {
        text-decoration: underline;
    }
}

.image-caption {

    text-align: right;

    p {
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        border-right: 1px solid white;
        padding-bottom: 0;
        padding-right: 1rem;
    }
}

.image-three-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 1.5%;
}

.section {
    
    .image-row-container{

        display: grid;
        grid-template-columns: 28vw auto;
        grid-column-gap: 2rem;
        margin-bottom: 3rem;
    
        .image-caption-container {
            color: white;
            position: relative;
            margin-bottom: 2rem;
            
    
           .image-caption {
                
                text-align: right;
                padding-bottom: 0;
                position: absolute;
                bottom: 1rem;
                right: 0;
    
                p {
                    border-right: 1px solid white;
                    font-size: 1rem;
                    font-weight: 400;
                    font-style: italic;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }

        .image-container {
            margin: 0;

            .image-right {
                padding: 0;
            }
        }
    }
}

.project-nav-container {

    margin: 4rem 0 0 0;

    .separator {
        padding: 0 1rem;
    }

    h4 {
        text-align: center;
    }
}

.mobile {
    display: none;
}



@media(max-width: 1600px){
    .block > *, .project-intro-container > *, .project-margins{
        padding: 0 9rem;
    }
    .page-container-project {
        margin: 0;
    }
}

@media(max-width: 1280px){
    .block > *, .project-intro-container > *, .project-margins{
        padding: 0 6rem;
    }
}

@media(max-width: 1024px){

    .project-details-container {

        display: block;
        margin-bottom: 4rem;
        
        .project-details-left {
            //padding: 1.5vw 0 0 1.5vw;
            padding: 2rem 2rem 0 2rem;
            margin-bottom: 2rem;
        }

        .project-details-right {
            padding: 2rem 2rem 0 2rem;
        }
    }

    .project-description, .text-right {
        //margin-left: 20vw;
        margin-left: 0rem;
    }
    
    .project-container {

        h2, h3 {
            width: 70vw;
        }

        .boxed-content {
            padding: 2rem;
            margin: 0 1rem 1rem 1rem;
        }
    }

    .section {
        .image-row-container {
            display: block;

            .image-container {
                padding: 2rem;
                margin: 0 1rem 1rem 1rem;

                .image-right {
                    padding-bottom: 2rem;
                }
            }
        }
    }

    .text-right {
        margin-left: 0;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media(max-width: 840px){

    .block > *, .project-intro-container > *, .project-margins{      
        padding: 0 3rem;
    }


    .project-container {
        .media-container {
            padding: 0;
        }
    }

    .image-caption {
        p {
            font-size: 0.9rem;
        }
    }

}

@media(max-width: 600px){

    .block > *, .project-intro-container > *, .project-margins{       
        padding: 0 1rem;
    }
    
    .project-container {
        padding: 0;

        .boxed-content > *:not(:last-child) {
            padding-bottom: 1rem;
        }

        .boxed-content {
            padding: 1rem;
            margin: 0 1rem 1rem 1rem;
        }
    }

    .project-landing {
        height: 20rem;
    }
    
    .project-details-container {

        .project-details-left {

            padding: 1rem 1rem 0 1rem;
            
            .project-detail-item {
                padding-right: 0;
            }
        }

        .project-details-right {
            display: block;
            padding: 1rem 1rem 0 1rem;


            .project-detail-item {
                padding-right: 0;
            }
        }
    }

    .section {

        .image-row-container {
            display: block;

            .image-container {
                padding: 1rem;
                margin: 0 1rem 1rem 1rem;

                .image-right {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}
