.project_group {
    //backdrop-filter: blur(0.5rem);

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: space-around;
    gap: 32px;

}

.project_card {

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: space-around;
    flex: 1 0 45%;
    gap: 16px;

    //background: #292929;
    border-radius: 3px;

    position: relative;
    transition: all 0.2s ease-in-out 0s;

    .project_card_image {
        flex: 2;
        width: 100%;
        min-height: 20rem;
        background-position-x: center;
        background-position-y: center;
        border-radius: 3px 3px 0 0;
    }

    .project_card_content {
        flex: 2;
        padding: 1rem 1rem 1rem 1rem;
    }

    .project_card_content > *{
        padding-bottom: 0.5rem;
    }

    .project_card_CTA {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        //padding-top: 1rem;
    }

    a {
        text-decoration:none;
        border-bottom: none;
        padding-bottom: 0;
        height: 100%;
    }
}

.title_card {
    flex: 1 0 45%;

    //padding-right: 2rem;
    h1 {
        padding-bottom: 2rem;
    }
}

.project_card > * {
    padding-bottom: 1rem;
}

.project_card:hover {
    box-shadow:
        1px 1px #83F1A4,
        2px 2px #83F1A4,
        3px 3px #83F1A4,
        4px 4px #83F1A4,
        5px 5px #83F1A4,
        6px 6px #83F1A4,
        7px 7px #83F1A4,
        8px 8px #83F1A4,
        9px 9px #83F1A4,
        10px 10px #83F1A4,
        12px 12px #83F1A4,
        13px 13px #83F1A4,
        14px 14px #83F1A4,
        15px 15px #83F1A4;

    transform: translate(-15px, -15px);
    transition: all 0.2s ease-in-out 0s;
}


.project_group_nav{
    .project_group {
        flex-flow: column nowrap;
        .project_card {

            //flex-flow: row nowrap;
            //flex: 1 0 25%;

            .project_card_horizontal {
                display: flex;
                //flex-flow: row nowrap;

                .project_card_image {
                    border-radius: 3px 0 0 3px;
                    flex: 2;
                    
                }
                .project_card_content {
                    flex: 2;
                }
            }
        }
        

    }
}

@media(max-width: 1600px){


}

@media(max-width: 1200px){

}

@media(max-width: 1024px){

    .project_group {
        flex-flow: column nowrap;
    }
}

/* Break: Tablet */
@media(max-width: 768px){

}

@media(max-width: 600px){
    .project_card:hover {
        box-shadow:
        1px 1px #83F1A4,
        2px 2px #83F1A4,
        3px 3px #83F1A4,
        4px 4px #83F1A4,
        5px 5px #83F1A4,
        6px 6px #83F1A4,
        7px 7px #83F1A4;
        transform: translate(-7px, -7px);
    }

}

/* Break: Mobile */
@media(max-width: 480px) {

}
