.footer-container {
    //height: 6rem;

}

#copyright {
    display: inline-block;

    h2 {
        font-family: 'Lora', serif;
        font-size: 1rem;

        span {
            font-style: italic;
        }
        
    }
}

#iconEmail {
    //padding-top: 0.5rem;
}

@-webkit-keyframes glitch {
    0% { transform: translateX(-0.05rem); }
    40% { transform: translateX(0.1rem) skew(20deg, 20deg);fill: #83F1A4;}
    50% { fill: black;}
    65% {fill: #83F1A4;}
    75% { transform: skew(-40deg, -40deg);}
    100% { transform: translateX(-0.05rem);}
}

.icon-container {

    float: right;

    img {
        height: 2rem;
    }

    .icon-footer {
        fill: #CCCCCC;
        height: 1.5rem;
    }

    ul {
        li {

            a {
                text-decoration: none;
                border-bottom: none;

                svg {
                    //transition: all 0.1s ease-in-out;
                }
            }

            a:hover > svg {
                animation-name: glitch;
                animation-duration: 0.1s;
                
                //transition: all 0.3s ease-in-out;
                //transform: translateX(-0.1rem) translateX(0.3rem);
                fill: #83F1A4;
            }

            a:hover > svg:before{
                //transition-timing-function: cubic-bezier(0.52, 164, 0.37, 0.66);
            }
        }
    }

    li {
        display: inline-block;
        padding-left: 0.7rem;
    }
}

@media(max-width: 1280px){

}

@media(max-width: 1024px) {

}

@media(max-width: 840px){


    

    .copyright{
        display: block;
        padding: 2rem 0;
    }

    .icon-container {
        
        float: none;
        padding-top: 1rem;

        img {
            height: 1.7rem;
        }
    }
}

