.footer-container {
    //height: 6rem;

}

#copyright {
    display: inline-block;

    h2 {
        font-family: 'Lora', serif;
        font-size: 1rem;

        span {
            font-style: italic;
        }
        
    }
}

#iconEmail {
    //padding-top: 0.5rem;
}

.icon-container {

    float: right;

    img {
        height: 2rem;
    }

    .icon-footer {
        fill: #CCCCCC;
        height: 1.5rem;
    }

    ul {
        li {

            a {
                text-decoration: none;
                border-bottom: none;

                svg {
                    transition: all 0.2s ease-in-out;
                }
            }

            a:hover > svg {
                transition: all 0.3s ease-in-out;
                transform: translateY(-0.1rem);
                fill: #83F1A4;
            }
        }
    }

    li {
        display: inline-block;
        padding-left: 0.7rem;
    }
}

@media(max-width: 1280px){

}

@media(max-width: 1024px) {

}

@media(max-width: 840px){


    

    .copyright{
        display: block;
        padding: 2rem 0;
    }

    .icon-container {
        
        float: none;
        padding-top: 1rem;

        img {
            height: 1.7rem;
        }
    }
}

