.header-container{

  .navbar-container {
    display: block;
  }

  a {
    text-decoration: none;
  }

  h1 {
      font-family: 'nexa_boldregular';
      font-size: 3rem;
      color: white;
  }
}

.logo-container {
  margin-top: 2.5rem;
  position: absolute;

  img {
    height: 3rem;
  }
}

.name-container {
	margin-top: 2.5rem;
  position: absolute;
    
}

#initials {
  display: none;
}


// New

.landing-nav-container2 {
  top:10%;
  position: fixed;
  right: 22%;

  a {
      float: left;
      border: 1px solid white;
      padding-bottom: 0;

      .landing-nav-item2 {
          display: block;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          line-height: 1.7;
          text-align: center;
          text-decoration: none;
          font-size: 1rem;
          color: white;
          margin: 0.5rem 1rem;

      }

  }
  a:hover {
      border: 1px solid white;
      background-color: white;
      
      div {
          color: #212223;
          font-weight: 600;
      }
  }
}


@media(max-width: 1600px){
  .header-container{

    //margin: 0 9rem 1rem 9rem;
  }
}

@media(max-width: 1280px){

  .header-container{

    //margin: 0 6rem 1rem 6rem;
  }




}

@media(max-width: 1024px){
  .landing-nav-container2 {
    a {
      .landing-nav-item2 {
        //font-size: 0.875rem;
        font-size: 0.75rem;
      }
    }
  }

}

@media(max-width: 840px){
  .header-container {
    //margin: 0 3rem 1rem 3rem;
  }

  .nav-item {
    a {
      font-size: 1rem;
    }
  }

  .strike {
    span:before, span:after {
      top: 125%;
    }
  }

}

@media(max-width: 600px){


}

  @media(max-height: 500px) {

    .landing-nav-container2 {
      position: absolute;
    }

    #nav-work {
      display: none;
    }
  }
  



