
/* Header styles */
.header {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  height: 8rem;
  margin-bottom: 4rem;

  a {
    text-decoration: none;
  }

  .nav_name {
    font-family: 'nexa_boldregular';
  }
}

/* Landing nav, no name */
.landing_nav {
  flex-direction: row-reverse;
}

/* Nav group */
.nav_group {
  backdrop-filter: blur(0.5rem);
  a {
      float: left;
      border: 1px solid white;
      padding-bottom: 0;

      .nav_item {
          display: block;
          font-family: 'nexa_boldregular';
          //font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 1px;

          text-align: center;
          text-decoration: none;
          //color: white;
          margin: 0.5rem 1rem;
      }

  }

  /* Text to black on hover */
  a:hover {      
    border-bottom: 0.0625rem solid white;
      div {
          color: #212223;
      }

  }

  
  /* Active page */
  .nav_active {
    background:#E3E9EC;
    opacity: 80%;
    //backdrop-filter: blur(20rem);
    color: #212223;
  }

  .nav_active:hover {
    div {
      color: #212223;
    }
  }
}

/* Nav item hover animation */
.hover_sweep {
  //-webkit-transform: translateZ(0);
  transform: translateZ(0);
  //-webkit-transition: white 1000ms;
  transition: white 1000ms;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
   // -webkit-transform: scaleY(0);
    transform: scaleY(0);
  //  -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition: 200ms ease-out;
  }

  &:hover:before {
    transform: scaleY(1);
  }

}



@media(max-width: 1600px){}


@media(max-width: 1280px){}

@media(max-width: 1024px){}

@media(max-width: 840px){

  .nav_item {
    a {
      font-size: 1rem;
    }
  }

  .header {
    flex-direction: column;
    justify-content: center;
  }

  .nav_name {
    padding-top: 1rem;
  }

}

@media(max-width: 600px){

  @media(max-height: 900px) {

    #nav-work {
      display: none;
    }
  }
}


  



