.header-container{

	padding: 0;
	margin: 0;
	border: 0;
	margin: 0 20vw;

  h1 {
      font-family: 'nexa_boldregular';
      /*font-weight: 600;*/
      font-size: 3.2rem;
      color: black;
      line-height: 4rem;

      a {
          text-decoration: none;
          color: black;
      }

      a:hover {
          color: #707070;
          transition-duration: 0.5s;
      }
      
  }
}


.name-container {
	margin-top: 2.5rem;
    position: absolute;
    
}

#initials {
  display: none;
}


/* Nav bar */
.nav-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    top: 0;
	  height: 8rem;
}

.nav-item {
    float: right;

    a {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
    
        color: #707070;
        text-align: center;
        padding-top: 3.5rem;
        padding-left: 1.6vw;
        padding-right: 1.6vw;
        text-decoration: none;
    }

    .active {
        text-decoration: line-through;
    }
}

.tagline-container {

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #707070;  
    line-height: 1.5;
  }

  margin-bottom: 2rem;
}


/* Strikethrough hover pen by tsimenis on Codepen */
.notActive {
    span {
        position: relative;
        //display: block;
        cursor: pointer;
    }

    span:before, span:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        top: 50%;
        margin-top: -0.5px;
        background: #707070;
    }

    span:before {
        left: -3px;
    }

    span:after {
        right: 0;
        background: #707070;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:before {
        background: #707070;
        width: 107%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
    }
}

@media(max-width: 1600px){
  .header-container{

      margin: 0 14vw;

      /*h1 {
          font-size: 2rem;
      }*/
  }
}

@media(max-width: 1280px){

  .header-container {
      //margin: 0 6rem;
  }
}

@media(max-width: 1024px){

  .header-container {
      margin: 0 6vw;
  }

  #initials {
    display: block;
  }

  #full-name {
    display: none;
  }

  .nav-container {
    height: 8rem;
  }

  .nav-container > li {
      //display: none;
  }
}

@media(max-width: 840px){

  #resume {
    display: none;
  }
}

.ham-menu {
    display: none;
}

/*$color-background: #F5F5F5;
$color-main: #1abc9c;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

body {
  background: $color-background;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin:  0 auto;
  font-family: 'Varela Round', sans-serif;

  p {
    font-size: 20px;
  }
  
  a {
    display: inline-block;
    position: relative;
    text-align: center;
    color: $color-main;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    top: 5px;
    
    &:after {
      content: '';
      position: absolute;
      background: $color-main;
      height: 2px;
      width: 0%;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
      transition: .35s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after {
      width: 100%;
    }
  }
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }
  
  span {
  background: $color-main;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}*/