#navBar {
	margin-bottom: 2vw;
}

.header-container {
	padding: 0;
	margin: 0;
	border: 0;
	margin-left: 9rem;
    margin-right: 9rem;
  
  h1{
    font-family: 'nexa_boldregular';
    /*font-weight: 600;*/
    font-size: 3.2rem;
    color: black;
  }
}

@media(max-width: 840px){
    .header-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

.nameContainer {
	margin-top: 2.5rem;
	position: absolute;
}


.tagContainer{
	position: absolute;
	margin-top: 7.4rem;
}

.tag1{
    font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: #707070;
	margin-right: 0.5rem;
}

.tag2{
    font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	color: #707070;
}

/* Nav bar */
.navBarContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    top: 0;
	height: 10rem;
}

.fullNavBar {
    float: right;

    a {
        display: block;
        font-family: 'nexa_boldregular';
        font-size: 1.5rem;
    
        color: #707070;
        text-align: center;
        padding-top: 3.1rem;
        padding-left: 1.6vw;
        padding-right: 1.6vw;
        text-decoration: none;
    }

    .active {
        text-decoration: line-through;
    }
}


/* Strikethrough hover pen by tsimenis on Codepen */
.notActive {
    span {
        position: relative;
        display: block;
        cursor: pointer;
    }

    span:before, span:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        top: 50%;
        margin-top: -0.5px;
        background: #707070;
    }

    span:before {
        left: -3px;
    }

    span:after {
        right: 0;
        background: #707070;
        transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:before {
        background: #707070;
        width: 107%;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:after {
        background: transparent;
        width: 100%;
        transition: 0s;
    }
}


.header {
    display: inline;
  position: absolute;
  z-index: 5;
  width: 100%;
}
