body {
    background-color: #222122;
    color: white;
    min-height: 600px;
}

/*
 * Layout ===
 */

 .page > :nth-child(n+2) {
    //margin-bottom: 7.75rem;
    margin-bottom: 2rem;
 }

/* 
 * Sections ===
 * Large groups of content
 */

.section {
    display: flex;
    border-radius: 3px;
}

.section_horizontal {

    flex-flow: row wrap;
    align-items: stretch;
    align-content: space-around;
    gap: 2rem;

}

.section_vertical {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: space-around;
    gap: 2rem;

    border-radius: 3px;
}

.section_column {
    flex: 2;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 3px;
}

.section_column > :nth-child(1) {
    padding-bottom: 2rem;
}


/* Blocks
 * Used within sections
 */

.block_small {
    padding-bottom: 1.5rem;
}

.block_medium {
    padding-bottom: 2rem;
}

.block_large {
    padding-bottom: 4rem;
}

.block_horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
}


/* Make transparent */
.transparent {
    backdrop-filter: blur(0.75rem);
    border: 1px solid #363a3a;
    box-shadow: 2px 2px 10px rgba(82, 82, 82, 0.4);
}



/*
 * Components ===
 */

.caption {
    color: #C5CDD0;
}

 .labeled_data {

    h6 {
        color: #C5CDD0;
        padding-bottom: 0.5rem;
    }
    .labeled_data_content > * {
        padding-bottom: 1rem;
    }
 }

 .labeled_data_large {

    h5 {
        padding-bottom: 0.5rem;
    }

    p {
        color: #C5CDD0;
        padding-bottom: 0.5rem;
    }
 }

 .divider_thin {
    border-top: 1px solid #4A5454;
    margin-bottom: 1.5rem;
}

/* Tag */
.tag {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    //min-width: fit-content;
    width: fit-content;
    max-width: 30rem;
    //width: fit-content(max-content);
    //width: fit-content(min(max,content));

}

.tag_group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem; 

    padding-top: 0.5rem;
}

.tag_default {
    background: #E3E9EC;
    color: #222122;
}

.tag_lilac {
    background: #7A48D6;
    color: #F0E3FF;
}

/* 
* Text styles ===
*/


.page {

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: 0 22%;
    //max-width: 60rem;

    font-family: 'IBM Plex Sans';

    // Display 1
    h1 {
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        //margin-bottom: 1rem;
    }

    // Display 2
    h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 64px;
    }

    // Title
    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 42px;

        max-width: 840px;
    }

    // Headline 1
    h4 {
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        //padding-bottom: 2rem;
    }

    // Headline 2
    h5 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    // Body 2
    h6 {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }

    // Body 1
    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
    }

    // Caption 1
    .caption1 {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }

    // Caption 2
    .caption2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }

    a {
        color: white;
        text-decoration: none;
        border-bottom: 0.0625rem solid white;
        padding-bottom: 0.15rem;
    }

    a:hover {
        border-bottom: none;
    }

    ul {
        //font-size: 1rem;
        //line-height: 1.4;
    }

}

@media(max-width: 1600px){
    .page {
        margin: 0 10%;
    }

}

@media(max-width: 1200px){
}

@media(max-width: 1024px){
    .section_horizontal {
        flex-flow: column nowrap;
    }

    .block_horizontal {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        /*justify-content: space-between;
        align-items: stretch;
        align-content: space-between;*/
    }
}

@media(max-width: 768px){
    .page {

        // Display 1
        h1 {
            /*font-size: 44px;
            line-height: 68px;*/ 
            font-size: 32px;
            line-height: 60px;
            //margin-bottom: 1rem;
        }

        // Display 2
        h2 {
            font-size: 26px;
            line-height: 48px;
        }

        // Title
        h3 {
            font-size: 21px;
            line-height: 38px;
        }
    }
}

@media(max-width: 600px){
    .page {   
        margin: 0 1rem;
    }
}

